@charset "utf-8";
*{
	text-align:center;
}
section {
	float: left;
}
html{
	background: white;
	width: 100vw;
	height: 100vh;
}
#body, body {
	width: 100%;
	min-height: 100vh;
	/* margin: auto; */
	background-image: url("../images/tankwallpaper.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}

label span {
	font-size: 0.7em;
}

.centralform {
	width: 80%;
	max-width:500px;
	margin: auto;
}

/* #formLayout {
	width: 50%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.50);
	border: 1px solid green;
} */
#criteres{
	font-weight: bold;
}

#criteres, #modifPassword, #forgotPassword {
	display:none;
}

span {
	font-size:0.7em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td, .th {
    padding: 5px;
    text-align: center;
}

#tableau-hall, #tableaulastplayed {
	font-weight: bold;
	background-color: rgba(255,255,255,.5);
	margin-left: auto;
	margin-right: auto;
}

#resultatRecherche, #identification{
	width: 70%;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.40);
	margin-left: auto;
	margin-right: auto;	
}
#identification{
	width: 70%;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.70);
	margin-left: auto;
	margin-right: auto;
	border: solid 2px rgba(0, 95, 0, .5)
}

#formLayout{
	width: 30%;
	min-width: 250px;
	font-weight: bold;
	padding-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.70);
	margin-left: auto;
	margin-right: auto;
	border: solid 2px rgba(0, 95, 0, .5)
}
#resultatRecherche button {	
	background-color: rgba(255, 255, 255, 0.40);
}

#resultatRecherche h4{
	font-weight: bold;
	color: rgb(25, 106, 1);
}

.userlabel,.passwordlabel{
	font-weight: bold;
	font-size: 1.2em;
}

.validInfo{
	color: green;
	font-weight: bold;
	font-size: 1.3em;
	text-shadow:1px 1px black;
	background-color:rgba(129, 132, 129, 0.6)
}

.wrongInfo{
	color: red;
	font-weight: bold;
	font-size: 1.3em;
	text-shadow:1px 1px black;
	background-color:rgba(129, 132, 129, 0.7)
}

#page-attributs section {
	float: none;
	width: 400px;
	margin: auto;
	border: 2px solid black;
	background-color: rgba(255, 255, 255, 0.8);
}

#page-attributs .tag-attr, .tag-bonus{
	display: inline-block;
	font-weight: bold;
	width:50%;
	text-align: center;
}

.bonus{
	width: 40%;
	text-align: center;
}

#page-attributs .attr, .bonus{
	display: inline-block;
}

#page-attributs button{
	display: inline-block;
}

#page-attributs #stats-calculees {
	color: black;
}

#page-attributs .conteneur-attribut{
	text-align: center;
	margin: 10px;
}









