#lecture_replay {
	margin: 20px;
}

#replay {
	border: solid black 5px;	
	margin: auto;
	padding: 0;
	position: relative;
	height: 710px;
	width: 1010px;
}

#replay canvas {
	left: 0;
	top: 0;
	position: absolute;
}
